.table{
    width: 70%;
    margin: 0 auto;
    thead{
        th{
            text-align: center;
        }
    }
    tbody{
        tr{
            td{
                text-align: center;
            }
        }
    }
}